---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {% if page.title == "Publications" %}
    <div class="publication_summary">
      <h2>ICRA: </h2><h4>4 papers</h4>   <h2>IROS: </h2><h4>4 papers </h4><h2>RSS: </h2><h4>1 paper</h4><br>
      <h2>THRI: </h2><h4>1 article</h4> <h2>RAL: </h2> <h4>1 article</h4>
    </div>
      
    {% endif %}

    {{ content }}
  </div>
</div>
