---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}

    {% if page.title == "Publications" %}
    <div class="publication_summary">
      &nbsp; <a class="venue_title" href="https://www.ieee-ras.org/conferences-workshops/fully-sponsored/icra">ICRA:</a><span class="venue_count">  4 papers</span>&nbsp;&nbsp;
      <a class="venue_title" href="https://www.ieee-ras.org/conferences-workshops/financially-co-sponsored/iros">IROS:</a><span class="venue_count">  4 papers</span>&nbsp;&nbsp; 
      <a class="venue_title" href="http://www.roboticsproceedings.org/">RSS:</a><span class="venue_count">  1 paper</span><br>
      &nbsp; <a class="venue_title" href="https://dl.acm.org/journal/thri">THRI:</a><span class="venue_count">  1 article </span>&nbsp;&nbsp;
      <a class="venue_title" href="https://www.ieee-ras.org/publications/ra-l">RAL:</a><span class="venue_count">  1 article </span>&nbsp;&nbsp;
    </div>
      
    {% endif %}

    {{ content }}
  </div>
</div>
